<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="curly">Main Menu</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><span class="li-before">Main Menu</span></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container" style="max-width: 90%!important;">
            <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu" style="padding-top: 0px;">
      <div class="container" style="max-width: 90%!important;">

        <div class="section-title">
          <h2 class="curly">Check our tasty <span>Menu</span></h2>
        </div>

        <div class="row" style="padding-bottom: 20px;">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li class="filter-active">Show All</li>
              <li data-filter=".insalate-salate">INSALATE / SALATE</li>
              <li data-filter=".ANTIPASTI-VORSPEISEN">ANTIPASTI / VORSPEISEN</li>
              <li data-filter=".RISOTTO">RISOTTO</li>
              <li data-filter=".pasta-teigwaren">PASTA / TEIGWAREN</li>
              <li data-filter=".pizza">PIZZA I PINSA DEL FORNO A LEGNA / PIZZA UND PINSA AUS DEM HOLZOFEN</li>
              <li data-filter=".GRATIN">GRATIN</li>
              <li data-filter=".SOMMER">SOMMER</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" >

          <div class="col-lg-4 menu-item insalate-salate" >
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Insalata Verde</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€8.80</span>
	                </div>
	              </div>
	              <p><span>Grüner Salat</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item insalate-salate">
            
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Insalata Mista</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€9.80</span>
	                </div>
	              </div>
	              <p><span>Gemischter Salat</span></p>
              </div>

            </div>
            
          </div>

          <div class="col-lg-4 menu-item insalate-salate">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Insalata Caprese</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 16.80</span>
	                </div>
	              </div>
	              <p><span>Cherrytomaten mit Burrata
                  und Basilikum</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item ANTIPASTI-VORSPEISEN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Bruschetta al Pomodoro</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 8.80</span>
	                </div>
	              </div>
	              <p><span>Knoblauchbrot mit Tomatenwürfeli,
                  Zwiebeln, Basilikum und Olivenöl</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item ANTIPASTI-VORSPEISEN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Focaccia Fornarina</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 8.80</span>
	                </div>
	              </div>
	              <p><span>Pizzateig mit Olivenöl, Knoblauch
                  und Oregano</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item ANTIPASTI-VORSPEISEN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Focaccia con Prosciutto</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 16.80</span>
	                </div>
	              </div>
	              <p><span>Pizzateig mit Rohschinken und Rucola</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item RISOTTO">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Risotto Frutti di Mare</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Risotto mit Tomatensauce und verschiedenen Meeresfrüchten</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item RISOTTO">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Risotto ai Porcini</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Risotto mit Steinpilzen</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti Aglio e Olio con Peperoncini</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 18.80</span>
	                </div>
	              </div>
	              <p><span>Mit Knoblauch, Olivenöl und Peperoncini</span></p>
              </div>
            </div>
          </div>
		  
          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti all’Arrabiata</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 20.80</span>
	                </div>
	              </div>
	              <p><span>Mit scharfer Tomatensauce, Oliven und Knoblauch</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti alla Carbonara</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>mit gebratenem Speck, Rahm und Parmesan</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti Walker</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Mit Champignon, Peperoni, Zwiebeln, Knoblauch und Burrata</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti Mare e Monti</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Mit Crevetten, Steinpilzen und Knoblauch an Olivenöl</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pasta-teigwaren">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Spaghetti della Nonna
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Mit Speck und Champignonsan Rahmsauce</span></p>
              </div>
            </div>
          </div>
	

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Margherita</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 16.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella und Oregano</span></p>
              </div>
            </div>
          </div>

            <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Napoli</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Kapern, Sardellen und Oliven</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Funghi</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 20.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella und frische Champignons</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Prosciutto</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella und  Hinterschinken</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Prosciutto e Funghi</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Hinterschinken und frische Champignons</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Bufala con Prosciutto</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Burrata, und Rohschinken</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Contadina
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Speck
                  und Zwiebeln</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Peperlizia
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Peperoni,
                  Kapern und Oliven</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Hawaii
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Hinterschinken und Ananas</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Quattro Staggioni
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Hinterschinken, Oliven, frische Champignons
                  und Peperoni</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Walker</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Burrata, Champignons,
                  Peperoni, Zwiebeln Knoblauch und
                  Oregano</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Quattro Formaggi
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce und vier verschiedene
                  Käsesorten</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Diavola
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella,
                  scharfe Salami und Knoblauch</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Etna
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 24.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Speck,
                  scharfe Salami, Zwiebeln und Knoblauch</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Mare e Monti
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 24.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Steinpilze,
                  Crevetten und Knoblauch</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Frutti di Mare
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 24.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella und
                  verschiedene Meeresfrüchte</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Dolce Vita
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Gorgonzola
                  und Ananas</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Ortolana
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella und
                  verschiedene Gemüse</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Al Tonno
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella, Thunfisch
                  und Zwiebeln</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Della Casa
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 25.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella,
                  Pouletstreifen (CH), Zwiebeln, Peperoni
                  und Knoblauch</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Parmarese
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 24.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella,
                  Rohschinken, Oliven, Cherrytomaten,
                  Ruccola und Käsescheiben</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Della Nonna
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 20.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Mozzarella,
                  Bufalo di Mozzarella und Basilikum</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-item pizza">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Pizza Thoracker
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 26.80</span>
	                </div>
	              </div>
	              <p><span>Tomatensauce, Burrata, Crevetten,
                  Cherrytomaten, Basilikum
                  und Käsescheiben</span></p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 menu-item GRATIN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Canneloni al Forno
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Hausgemacht, mit Rindfleischsauce
                  im Holzofen gratiniert</span></p>
              </div>
            </div>
          </div>
		  
          <div class="col-lg-4 menu-item GRATIN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>
                      Gnocchi Piemontese
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 22.80</span>
	                </div>
	              </div>
	              <p><span>Kartoffelgnocchi mit Steinpilzen,
                  Kalbsfleisch, Paprikarahmsauce
                  mit Parmesan gratiniert</span></p>
              </div>
            </div>
          </div>
		  
          <div class="col-lg-4 menu-item GRATIN">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Canelloni all Forno
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 21.80</span>
	                </div>
	              </div>
	              <p><span>Mit Ricotta- und Spinatfüllung,
                  mit Käse überbacken</span></p>
              </div>
            </div>
          </div>
		  
          <div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Ravioloni al Salmone
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 23.80</span>
	                </div>
	              </div>
	              <p><span>Gefüllt mit Lachs, an Salbeibutter</span></p>
              </div>
            </div>
          </div>
		  
<div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Kalbsleber an Kräuterbutter
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 29.80</span>
	                </div>
	              </div>
	              <p><span>Gebraten, auf grünem Salat</span></p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Zanderfilet im Bierteig
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 28.80</span>
	                </div>
	              </div>
	              <p><span>Mit Tartarsauce und grünem Salat</span></p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Eglifilet
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 28.80</span>
	                </div>
	              </div>
	              <p><span>Im Bierteig, mit Tartarsauce
                  und grünem Salat</span></p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Hit
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 34.80</span>
	                </div>
	              </div>
	              <p><span>Rinds-Entrécote (CH) mit gemischtem
                  Salat und Kräutersauce</span></p>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 menu-item SOMMER">
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Roastbeef
                      </h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">€ 29.80</span>
	                </div>
	              </div>
	              <p><span>Mit gemischtem Salat, Melone,
                  Tartarsauce und Pommes</span></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Menu Section -->
      </div>
    </section>

  </main><!-- End #main -->