<div class="content-wrapper">
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Black title</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Breadcrumb1</li>
              <li class="breadcrumb-item active"><a href="#">Breadcrumb2</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="invoice p-3 mb-3">
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Title Details
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    Add your content here..
                </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </section>
  </div>