 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Manage Table</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Manage Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Table List</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-body-search card-body-search-custom">
          <div class="row">
            <div class="col-md-5">

              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-5">
              <div class="form-group">
                <label>Table Name:</label>
                  <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                      <input type="text" class="form-control" placeholder="Role Name" data-target="#reservationdate2"/>
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-block btn-secondary ">Search</button>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead class="custom-bg-2">
                  <tr>
                      <th class="custom-bg-2">
                          ID
                      </th>
                      <th class="custom-bg-2">
                          Table Name
                      </th>
                      <th class="custom-bg-2">
                          Table Description
                      </th>
                      <th class="custom-bg-2">
                        Table Location
                    </th>
                      <th class="custom-bg-2">
                          Created Date
                      </th>
                      <th class="custom-bg-2">
                          Action
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="custom-bg-1">
                          10001
                      </td>
                      <td>
                          1st Table
                      </td>
                      <td>
                          Small Table (Good for 2)
                      </td>
                      <td>
                        Inside Restaurant
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                              <i class="fas fa-folder">
                              </i>
                              View Details
                          </a>
                      </td>
                  </tr>
                  <tr>
                    <td class="custom-bg-1">
                        10002
                    </td>
                    <td>
                        1st Table
                    </td>
                    <td>
                        Small Table (Good for 2)
                    </td>
                    <td>
                      Inside Restaurant
                    </td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-1">
                        10001
                    </td>
                    <td>
                        1st Table
                    </td>
                    <td>
                        Small Table (Good for 2)
                    </td>
                    <td>
                      Inside Restaurant
                    </td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-1">
                        10001
                    </td>
                    <td>
                        1st Table
                    </td>
                    <td>
                        Small Table (Good for 2)
                    </td>
                    <td>
                      Inside Restaurant
                    </td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-1">
                        10001
                    </td>
                    <td>
                        1st Table
                    </td>
                    <td>
                        Small Table (Good for 2)
                    </td>
                    <td>
                      Inside Restaurant
                    </td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="custom-bg-1">
                        10001
                    </td>
                    <td>
                        1st Table
                    </td>
                    <td>
                        Large Table (Good for 6)
                    </td>
                    <td>
                      Inside Restaurant
                    </td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a>
                    </td>
                </tr>
                  
              </tbody>
          </table>
          <div class="card-footer custom-bg-2">
            <nav aria-label="Contacts Page Navigation">
              <ul class="pagination justify-content-center m-0">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header card-header">
          <h4 class="modal-title">Edit Table</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-12">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-body">
                        <form>
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Table Name</label>
                                <input class="form-control" id="inputUsername" type="text" placeholder="Table Name">
                            </div>
                            <div class="mb-3">
                              <label class="small mb-1" for="inputPassword">Table Description</label>
                              <input class="form-control" id="inputPassword" type="text" placeholder="Description">
                          </div>
                          <div class="mb-3">
                            <label class="small mb-1" for="inputPassword">Table Location</label>
                            <input class="form-control" id="inputPassword" type="text" placeholder="Table Location">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>