
<div class="content-wrapper">
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">List of Planes</h1>
          </div>
          <div  class="col-sm-6" style="text-align: right;">
            <a [routerLink]="['/portal/manage-planes/register-airline']"  class="btn btn-primary btn-sm" style="width: 232px!important; ">
                <i class="fas fa-plane">
                </i>
                + Create New Plane
            </a>
          </div>
        </div>
      </div>
    </div>

    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header custom-background">
            <div class="row">
                <div class="col-md-8"><h3 class="card-title"><i class="fas fa-user-cog"></i> List of Planes</h3></div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="txtSearch" (keyup.enter)="onEnter()" type="text" class="form-control form-control-lg" placeholder="Search Airline" style="font-size: 1.18rem!important;">
                        <div class="input-group-append">
                            <button (click)="GetPlaneByName()" type="submit" class="btn btn-lg btn-default" style="background: #dee5eb;border-color: #ddd;color: #444; padding: 9px 30px !important;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="tableFixHead">
                <table id="PlaneTable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 20%">
                                Airline
                            </th>
                            <th style="width: 30%">
                                Code
                            </th>
                            <th>
                                Model
                            </th>
                            <th style="width: 8%" class="text-center">
                                Status
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of planeDTO">
                            <td>
                                <a style="font-weight: bold;">
                                    {{item.airlineName}}
                                </a>
                                <br/>
                                <small style="color: #6c757d;">
                                    {{item.airlineName}}
                                </small>
                            </td>
                            <td>
                                {{item.code}}
                            </td>
                            <td>
                                {{item.model}}
                            </td>
                            <td class="project-state" *ngIf="item.isActive">
                                <span class="badge badge-success">Active</span>
                            </td>
                            <td class="project-state" *ngIf="!item.isActive">
                                <span class="badge badge-danger">Deactivated</span>
                            </td>
                            <td class="project-actions text-right">
                                <a [routerLink]="['/portal/manage-planes',item.uniqueId,'detail']"  class="btn btn-primary btn-sm custom-button-reset">
                                    <i class="fas fa-plane">
                                    </i>
                                    Manage Plane / Settings
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </section>

  </div>

  