<style>
  .display-message{
  display: block!important;
}
</style>

<div class="">
  <div class="error-message" style="display:none;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99999;
  background: #d5182a !important;
  color: white !important;
  padding: 22px;
  text-align: center;"></div> 
</div>

<div class="">
  <div class="success-message" style="display:none;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99999;
  background: #28a745 !important;
  color: white !important;
  padding: 22px;
  text-align: center;"></div> 
</div> 


<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <span class="brand-text font-weight-light"><img src="assets/reservation/admin/dist/img/thorackerlogo.jpg" style="height: 50px;" alt="Thoraker"></span>
    </ul>
  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/home']" routerLinkActive="is-active" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a  [routerLink]="['/about-us']" routerLinkActive="is-active" class="nav-link">About</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a  [routerLink]="['/food-menu']" routerLinkActive="is-active" class="nav-link">Menu</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/special-menu']" routerLinkActive="is-active"  class="nav-link">Specials</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/contact-us']" routerLinkActive="is-active"  class="nav-link">Contact</a>
          </li>
          <li *ngIf="IsLoggedIn == true" class="nav-item d-none d-sm-inline-block">
            <a style="cursor: pointer;" [routerLink]="['/my-cart']" (click)="OpenCart()" routerLinkActive="is-active" class="nav-link">My Cart</a>
          </li>
          <li *ngIf="IsLoggedIn == true" class="nav-item d-none d-sm-inline-block">
            <a style="cursor: pointer;" [routerLink]="['/checkout']" (click)="OpenCheckout()" routerLinkActive="is-active"  class="nav-link">Checkout</a>
          </li>
          <li *ngIf="IsLoggedIn == true" class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/my-activity']" routerLinkActive="is-active"  class="nav-link">My Activities</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/reserve-a-table']" routerLinkActive="is-active"  class="nav-link">Book a Table</a>
          </li>
          <li (click)="SignOut()" style="cursor: pointer;" *ngIf="IsLoggedIn == true" class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">Logout</a>
          </li>
          <li style="cursor: pointer;" *ngIf="IsLoggedIn == false"  class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/login']" routerLinkActive="is-active"  class="nav-link">Login</a>
          </li>
    </ul>
  </nav>
  <!-- /.navbar -->