<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <span class="brand-text font-weight-light"><img src="assets/reservation/admin/dist/img/thorackerlogo.jpg" style="height: 50px;" alt="Thoraker"></span>
    </ul>
  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/home']" routerLinkActive="is-active" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a  [routerLink]="['/about-us']" routerLinkActive="is-active" class="nav-link">About</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a  [routerLink]="['/food-menu']" routerLinkActive="is-active" class="nav-link">Menu</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/special-menu']" routerLinkActive="is-active"  class="nav-link">Specials</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/contact-us']" routerLinkActive="is-active"  class="nav-link">Contact</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/my-cart']" routerLinkActive="is-active"  class="nav-link">My Cart</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/checkout']" routerLinkActive="is-active"  class="nav-link">Checkout</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/reserve-a-table']" routerLinkActive="is-active"  class="nav-link">Book a Table</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/contact-us']" routerLinkActive="is-active"  class="nav-link">Logout</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="['/login']" routerLinkActive="is-active"  class="nav-link">Login</a>
          </li>
    </ul>
  </nav>
  <!-- /.navbar -->