
<style>
  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
}

.curly{
  font-family: "Satisfy", sans-serif;
}

.section-title h2 span {
    color: #ffb03b;
}

.about .content p {
    font-size: 15px;
    color: #848484;
}

.about .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
}

.about .content ul li {
    position: relative;
    padding-left: 26px;
}

.about .content p {
    font-size: 15px;
    color: #848484;
}
.fst-italic {
    font-style: italic !important;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

</style>


<head>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  </head>
<style>
  .carousel-caption{
    bottom: 50%!important;
  }

  .text-primary {
  color: #ffb03b !important;
}

</style>  
  
<div class="content-wrapper d-block d-md-none" style="padding-top: 55px; ">
  <div class="section-title" style="background: linear-gradient(0deg, rgb(232 206 121 / 82%) 0%, rgb(236 217 151 / 21%) 100%);">
    <div style="padding-top: 10px;padding-bottom: 15px;text-align: center;"><h2>Login <span> Panel</span></h2>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>
  </div>
  <section id="about" class="about">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-12" style="background-color: #6c757d17 !important;">
          <div class="card" style="margin-top: 20px;">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Login to Start at <span style="font-weight: 700;">Thoracker</span></p>
        
              <form action="../../index3.html" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" #username>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" #password>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                      <label for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4" style="text-align: right;">
                    <button (click)="LoginUser(username.value, password.value)" type="submit" class="btn btn-primary btn-flat">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
      
        
              <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
              </p>
              <p class="mb-0">
                <a [routerLink]="['/login/registration']" class="text-center">Register a new membership</a>
              </p>
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
      </div>

    </div>
  </section>

</div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper d-none d-md-block" style="padding-top: 55px; ">

    <section id="about" class="about" style="padding: 15px;">
      <div class="container-fluid">
        
        <div class="row" style="
        padding: 30px;
    ">
          <div class="col-md-9" style="background: #dee2e629;">
              
            <div class="row" style="padding: 20px;">

              <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/reservation/client/assets/img/about.jpg");'>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn mb-4"></a>
              </div>

              <div class="col-lg-7 justify-content-center">

                <div class="content" style=" padding-left: 20px;">
                  <h3 class="curly">Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                  </p>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3" style="background-color: #6c757d17 !important;">
            <div class="card" style="margin-top: 20px;">
              <div class="card-body login-card-body">
                <p class="login-box-msg">Login to Start at <span style="font-weight: 700;">Thoracker</span></p>
          
                <form action="../../index3.html" method="post">
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" #username>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" #password>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                          Remember Me
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4" style="text-align: right;">
                      <button (click)="LoginUser(username.value, password.value)" type="submit" class="btn btn-primary btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form>
        
          
                <p class="mb-1">
                  <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                  <a [routerLink]="['/login/registration']" class="text-center">Register a new membership</a>
                </p>
              </div>
              <!-- /.login-card-body -->
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
  <!-- /.content-wrapper -->
   