<!-- Content Wrapper. Contains page content -->
<style>
  .card-body-custom {
    background: linear-gradient(0deg, rgb(232 206 121 / 0%) 0%, rgb(236 217 151 / 21%) 100%) !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #3c8dbc!important;
    border-color: #3c8dbc!important;
    box-shadow: none !important;
}

</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Manage Customers</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Manage Customers</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body card-body-search card-body-search-custom">
          <div class="row">
            <div class="col-md-5">

              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-5">
              <div class="form-group">
                <label>Search Name:</label>
                  <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                      <input type="text" class="form-control" placeholder="Search Name" data-target="#reservationdate2"/>
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-block btn-secondary ">Search</button>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="card-body p-0">

          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let item of usersDto">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0" style="background: #343a40 !important;">
                  {{item.emailAddress}}
                </div>
                <div class="card-body pt-0" style="background: linear-gradient(0deg, #17a2b84f 0%, rgb(236 217 151 / 21%) 100%) !important;">
                  <div class="row" style="padding: 20px">
                    <div class="col-7">
                      <h2 class="lead"><b>{{item.firstName}} {{item.lastName}}</b></h2>
                      <p class="text-muted text-sm"><b>{{item.contactNumber}} </b>  {{item.birthDate}} </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{item.street}} {{item.city}} {{item.province}} {{item.zipCode}}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{item.contactNumber}}</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img style="width: 100%;" src="assets/reservation/admin/dist/img/empty-profile.png" alt="" class="img-account-profile  mb-2">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a [routerLink]="['/admin/manage-customer/1/detail']" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer custom-bg-2">
            <nav aria-label="Contacts Page Navigation">
              <ul class="pagination justify-content-center m-0">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->