<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-8">
            <h1>Menu/Food Detail</h1>
          </div>
          <div class="col-sm-4">
            <h1>Summary</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row" style="
      padding-bottom: 20px;
      padding-left: 8px;
  ">
          <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                  <div class="main-summary" style="
                      background: #dee2e6;
                      padding-top: 10px;
                      padding-left: 30px;
                  ">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>From Date:</label>
                          <div class="input-group date" id="reservationdate" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy" data-target="#reservationdate"/>
                              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>To Date:</label>
                          <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" placeholder="mm/dd/yyyy" data-target="#reservationdate2"/>
                              <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Status</label>
                        <div class="input-group">
                          <div class="btn-group">
                            <button type="button" class="btn btn-warning">Select Status</button>
                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="#">Approve</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Reject</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Mark as Paid</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <div class="col-md-8">
                <h5>Order Item/s</h5>
                <div class="summary-table-item4" style="min-height: 450px;">
                  <div class="card">
                    <div class="card-body p-0">
                      <table class="table table-striped projects">
                          <thead class="custom-bg-2">
                              <tr>
                                <th  class="custom-bg-8">
                                  Foods Name
                              </th>
                              <th  class="custom-bg-8">
                                  Description
                              </th>
                              <th  class="custom-bg-8">
                                  Total Amount
                              </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td class="custom-bg-1">
                                  <small>
                                      Description here..
                                  </small>
                                </td>
                                <td>
                                  Food name 1
                                </td>
                                <td>
                                    $1,200.00
                                </td>
                              </tr>
                              <tr>
                                <td class="custom-bg-1">
                                  <small>
                                      Description here..
                                  </small>
                                </td>
                                <td>
                                  Food name 1
                                </td>
                                <td>
                                    $1,200.00
                                </td>
                              </tr>
                              <tr>
                                <td class="custom-bg-1">
                                  <small>
                                      Description here..
                                  </small>
                                </td>
                                <td>
                                  Food name 1
                                </td>
                                <td>
                                    $1,200.00
                                </td>
                              </tr>
                              <tr>
                                <td class="custom-bg-1">
                                  <small>
                                      Description here..
                                  </small>
                                </td>
                                <td>
                                  Food name 1
                                </td>
                                <td>
                                    $1,200.00
                                </td>
                              </tr>
                              <tr>
                                <td class="custom-bg-1">
                                  <small>
                                      Description here..
                                  </small>
                                </td>
                                <td>
                                  Food name 1
                                </td>
                                <td>
                                    $1,200.00
                                </td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h5>Order Transaction Details</h5>
                <div class="summary-table-item4"  style="min-height: 450px;">
                  <span style="font-weight: bold;">Customer/Guest Name:</span><br>
                  <span>Jake V. Duldulao</span><br><br>
                  <span style="font-weight: bold;">Order Referrence #:</span><br>
                  <span>REF-009-2009-12987</span><br><br>
                  <span style="font-weight: bold;">Order Source:</span><br>
                  <span>Web/Mobile Application/Restaurant</span><br><br>
                  <span style="font-weight: bold;">Status:</span><br>
                  <span><span class="badge badge-success">Approved</span></span><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="row">
              <div class="col-md-12">
                <div class="summary-row"  style="
              background: #dee2e6;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="summary-table-item">Items</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="summary-table-item">Food Charges</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item">Extras</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item">Promo/Discounts</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item">Taxes and Fees</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item">Payment Surcharge</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item2">Total</td>
                  <td>$150.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item2">Paid</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="summary-table-item2">Outstanding Balance</td>
                  <td style="background: #ff00000d;">$150.00</td>
                </tr>
              </tbody>
            </table>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="summary-table-item4">
                  <span style="font-weight: bold;">Internal Notes:</span><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  
                </div>
              </div>
            </div>
              
          </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->