<div class="content-wrapper">
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" *ngIf="uniqueKey == null">Flight Registration</h1>
            <h1 class="m-0" *ngIf="uniqueKey != null">Flight Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Admin Dashboard</li>
              <li class="breadcrumb-item active">Flight Detail</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header p-2 custom-background">
                    Flight Summary
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="profile">
                        <form class="form-horizontal">
                          <div class="form-group row">
                            <label for="inputFlightCode" class="col-sm-2 col-form-label">Flight Code <span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputFlightCode" placeholder="Flight Code" #inputFlightCode>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputAirport" class="col-sm-2 col-form-label">Airport Name<span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <select  class="form-select" aria-label="Default select example" id="inputAirport" style="padding: 12px;" #inputAirport>
                                <option value="0" selected >Select Airport</option>
                                <option *ngFor="let airport of getAllAirportQueryDto"
                                        [value]="airport.id">
                                        {{airport.countryName}} - {{airport.airportName}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputAirline" class="col-sm-2 col-form-label">Airline/Plane Name<span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <select  class="form-select" aria-label="Default select example" id="inputAirline" style="padding: 12px;" #inputAirline>
                                <option value="0" selected >Select Airline</option>
                                <option *ngFor="let airline of getAllPlanesQueryDto"
                                        [value]="airline.id">
                                        {{airline.airlineName}} ({{airline.code}})
                                </option>
                              </select>
                            </div>
                          </div>
                              <div class="form-check form-switch" *ngIf="uniqueKey != null">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Status (Active)?</label>
                              </div>
                                  <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10"  *ngIf="uniqueKey == null">
                                      <button type="submit" class="btn btn-danger" [routerLink]="['/portal/manage-flights']" style="margin-right: 10px;">Back</button>
                                      <button type="submit" (click)="CreateFlight(inputFlightCode.value, inputAirport.value, inputAirline.value)" class="btn btn-primary">Save</button>
                                    </div>
                                    <div class="offset-sm-2 col-sm-10"  *ngIf="uniqueKey != null">
                                      <button type="submit" class="btn btn-danger" [routerLink]="['/portal/manage-flights']" style="margin-right: 10px;">Back</button>
                                      <button type="submit" (click)="UpdateFlight(inputFlightCode.value, inputAirport.value, inputAirline.value)" class="btn btn-primary">Update / Save</button>
                                    </div>
                                  </div>
                                  <div class="alert alert-danger alert-dismissible collapse" role="alert" id="alert">
                                    <strong>Error: <br></strong> <span id="errorMessage"></span>
                                  </div>
                          </form>
                      </div>

                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
    </section>
  </div>