
<style>
  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
}

.curly{
  font-family: "Satisfy", sans-serif;
}

.section-title h2 span {
    color: #ffb03b;
}

.about .content p {
    font-size: 15px;
    color: #848484;
}

.about .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
}

.about .content ul li {
    position: relative;
    padding-left: 26px;
}

.about .content p {
    font-size: 15px;
    color: #848484;
}
.fst-italic {
    font-style: italic !important;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

.book-a-table .php-email-form button[type=submit] {
    border-radius: 0px!important;
}

.form-control input {
    height: 45px !important;
}

.select2-container--default .select2-purple .select2-selection--multiple .select2-selection__choice, .select2-purple .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f39c12!important;
    border-color: #f39c12!important;
    color: #fff!important;
}

</style>


<head>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  </head>
<style>
  .carousel-caption{
    bottom: 50%!important;
  }

  .text-primary {
  color: #ffb03b !important;
}

.display-message{
  display: block!important;
}

</style>  
<div class="">
  <div class="error-message" style="display:none;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99999;
  background: #d5182a !important;
  color: white !important;
  padding: 22px;
  text-align: center;"></div> 
</div>

<div class="">
  <div class="success-message" style="display:none;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99999;
  background: #28a745 !important;
  color: white !important;
  padding: 22px;
  text-align: center;"></div> 
</div>




<button style="width: 100%; margin-bottom: 5px; position: fixed; bottom: -5px; width: 100%; z-index: 99999; background: brown!important; color: white!important;" [routerLink]="['/home/mobile']" type="submit" class="btn bg-gradient-warning btn-flat d-block d-md-none">Go to Dashboard</button>  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="padding-top: 55px; ">
    
    <div class="section-title" style="background: linear-gradient(0deg, rgb(232 206 121 / 82%) 0%, rgb(236 217 151 / 21%) 100%);">
      <div style="padding-top: 50px; padding-bottom: 50px; text-align: center;"><h2 class="curly">Book a <span>Table</span></h2>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
    </div>
    
    <section id="about" class="about" style="padding: 15px;">

      <div *ngIf="IsLoggedIn == false">
        <div class="callout callout-warning">
          <h5>Note:</h5>
          You need to login before creating a booking. If you are not yet registered then click the Register button below.<br> If you are a current member then click the login.
        </div>
         
        <div class="d-block d-md-none">
          <button style="width: 100%; margin-bottom: 5px;" [routerLink]="['/login/registration']" type="submit" class="btn bg-gradient-warning btn-flat">Register Now</button>
          <button style="width: 100%; margin-bottom: 5px;" [routerLink]="['/login']" type="submit" class="btn bg-gradient-warning btn-flat">Go to Login</button>    
        </div>
        <div class="d-none d-md-block">
          <div class="text-center">
            <button style="margin-right: 10px;" [routerLink]="['/login/registration']" type="submit" class="btn bg-gradient-warning btn-flat">Register Now</button>
          <button [routerLink]="['/login']" type="submit" class="btn bg-gradient-warning btn-flat">Go to Login</button>  
            </div>
        </div>
      </div>

      <div *ngIf="IsLoggedIn == true" class="container-fluid">
        <div class="row">
          <div class="col-lg-12 justify-content-center">
            <div class="php-email-form">
              <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                  <label>Full Name</label>
                  <input type="text" name="name" class="form-control" id="fullname" placeholder="Your Name" value={{fullName}} data-rule="minlen:4" data-msg="Please enter at least 4 chars" #fullname disabled>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                  <label>Email Address</label>
                  <input type="email" class="form-control" name="email" id="emailaddress" placeholder="Your Email" value={{emailAddress}} data-rule="email" data-msg="Please enter a valid email" #emailaddress disabled>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                  <label>Phone / Contact Number</label>
                  <input type="text" class="form-control" name="phone" id="phonenumber" placeholder="Your Phone" value={{contactNumber}} data-rule="minlen:4" data-msg="Please enter at least 4 chars" #phonenumber disabled>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <label>Booking Date</label>
                  <input type="date" name="date" class="form-control" id="bookingdate" placeholder="Date" data-rule="minlen:4" #bookingdate data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <label>Booking Time</label>
                  <div class="input-group date" id="timepicker" data-target-input="nearest">
                    <input type="time" class="form-control" #bookingtime/>
                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                    </div>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                  <label>Number of People</label>
                  <input type="number" class="form-control" name="people" id="numberofpeople" placeholder="# of people" data-rule="minlen:1" #numberofpeople data-msg="Please enter at least 1 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label>Table Selection <span style="font-weight: normal!important;"> (<i>Or click button 'Select Desired Table/s')</i></span></label>
                <input type="text" class="form-control" name="people" id="entertable" placeholder="Enter Table" #selectedtables >
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <label>Message</label>
                <textarea class="form-control" style="height: 150px !important;" id="exampleFormControlTextarea1" placeholder="Message" rows="3" #message></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center">
                <div class="d-none d-md-block">
                  <button type="submit" class="btn bg-gradient-warning btn-flat" data-toggle="modal" data-target="#modal-xl" style="margin-right: 20px;">Select Desired Table/s</button>
                  <button class="btn bg-gradient-warning btn-flat"  (click)="ReserveATable(fullname.value, emailaddress.value, phonenumber.value, bookingdate.value, bookingtime.value, numberofpeople.value, message.value, selectedtables.value)"  type="submit">Prepare Booking</button> 
                </div>
                <div class="d-block d-md-none">
                  <button style="width: 100%; margin-bottom: 5px;" type="submit" class="btn bg-gradient-warning btn-flat" data-toggle="modal" data-target="#modal-xl" >Select Desired Table/s</button>
                  <button style="width: 100%; margin-bottom: 5px;" class="btn bg-gradient-warning btn-flat"  (click)="ReserveATable(fullname.value, emailaddress.value, phonenumber.value, bookingdate.value, bookingtime.value, numberofpeople.value, message.value, selectedtables.value)"  type="submit">Prepare Booking</button> 
                </div>
                </div>
            </div>
          </div>
        </div>
      
      </div>

    </section>

  </div>
  <!-- /.content-wrapper -->
  

  <div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-group">
              <label>Select Table Location</label>
              <div class="row">
                <div class="col-md-9">
                  <div class="select2-green">
                    <select id="TableList" class="select2" multiple="multiple" data-placeholder="Select a Table" style="width: 100%;">
                      <option *ngFor="let item of getAllRestaurantTableQueryDto"> {{item.tableName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3" style="text-align: right;">
                  <button style="margin-right: 5px;" class="btn bg-gradient-warning btn-flat" data-dismiss="modal" type="submit">Close</button> 
                  <button (click)="GetTable()" class="btn bg-gradient-warning btn-flat" data-dismiss="modal" type="submit">Save changes</button> 
                </div>
              </div>
              
            </div>
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Inside Restaurant</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Terrese</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  <div style="text-align: center;" class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                    <p><img src="assets/reservation/client/assets/img/RestaurantPlanDraftFinal.png" alt="" style="width: 90%;" class="img-fluid"></p>
                  </div>
                  <div style="text-align: center;" class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                    <p><img src="assets/reservation/client/assets/img/TerreseDraft.png" alt="" style="width: 90%;" class="img-fluid"></p>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <script>
    $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      })
  </script>