  <!-- ======= Hero Section ======= -->
<section class="hero-section" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 hero-text-image">
        <div class="row">
          <div class="col-lg-8 text-center text-lg-start">
            <h1 data-aos="fade-right">Start Booking Your Flight Now</h1>
            <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
              Find countless flights options & deals to various destinations around the world!
            </p>
            <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a [routerLink]="['/login']" href="#" class="btn btn-outline-white">Get started</a></p>
          </div>
          <div class="col-lg-4 iphone-wrap">
            <img src="assets/moduletemplate/img/phone_1.png" alt="Image" class="phone-1" data-aos="fade-right">
            <img src="assets/moduletemplate/img/phone_2.png" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200">
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
