
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      <!-- Google fonts-->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
      
<style>
    .section-title h2 {
      margin: 15px 0 0 0;
      font-size: 32px;
      font-weight: 700;
      color: #5f5950;
  }
  
  .section-title p {
      margin: 15px auto 0 auto;
      font-weight: 300;
  }
  
  .curly{
    font-family: "Satisfy", sans-serif;
  }
  
  .section-title h2 span {
      color: #ffb03b;
  }
  
  .about .content p {
      font-size: 15px;
      color: #848484;
  }
  
  .about .content h3 {
      font-weight: 400;
      font-size: 34px;
      color: #5f5950;
  }
  
  .about .content ul li {
      position: relative;
      padding-left: 26px;
  }
  
  .about .content p {
      font-size: 15px;
      color: #848484;
  }
  .fst-italic {
      font-style: italic !important;
  }
  
  .about .content ul {
      list-style: none;
      padding: 0;
  }
  
  .about .video-box {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 400px;
      position: relative;
  }

  .bg-warning {
    background: linear-gradient(0deg, rgb(232 206 121 / 0%) 0%, rgb(236 217 151 / 21%) 100%) !important;
    border: #fd7e14 solid 1px;
}
  
.carousel-caption{
      bottom: 50%!important;
    }
  
    .text-primary {
    color: #ffb03b !important;
  }
  
  .small-box {
    border-radius: 1.25rem!important;
}

.small-box-footer{
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    background: #fd7e1461;
}

.small-box>.small-box-footer {
    padding: 10px 0 !important;
}

.inner i{
    color: brown;
}

.display-message{
  display: block!important;
}

  </style>
  
  <div class="">
    <div class="error-message" style="display:none;
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 99999;
    background: #d5182a !important;
    color: white !important;
    padding: 22px;
    text-align: center;"></div> 
  </div>
  
  <div class="">
    <div class="success-message" style="display:none;
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 99999;
    background: #28a745 !important;
    color: white !important;
    padding: 22px;
    text-align: center;"></div> 
  </div> 

  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="padding-top: 55px; ">
  
        <div class="section-title" style="background: linear-gradient(0deg, rgb(232 206 121 / 82%) 0%, rgb(236 217 151 / 21%) 100%);">
            <div style="padding-top: 10px;padding-bottom: 15px;text-align: center;"><h2>Main <span>Dashboard</span></h2>
              <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>
          </div>

      <section *ngIf="IsLoggedIn == false" id="about" class="about" style="padding: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/home']">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <i class='fas fa-home' style='font-size:48px;'></i>
                      <p>Home</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a  class="small-box-footer">Home <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/about-us']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-atlas' style='font-size:48px;'></i>
                        <p>About</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">About <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/food-menu']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fa fa-book' style='font-size:48px;'></i>
                        <p>Menu</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Menu <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/special-menu']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-box-open' style='font-size:48px;'></i>
                        <p>Specials</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Specials <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                <!-- ./col -->
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/contact-us']">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <i class='fas fa-envelope-open-text' style='font-size:48px;'></i>
                      <p>Contact</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a  class="small-box-footer">Contact <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-3 col-6"  style="cursor: pointer;" [routerLink]="['/reserve-a-table']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-file-import' style='font-size:48px;'></i>
                        <p>Book a Table</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Book a Table <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" [routerLink]="['/login']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-address-card' style='font-size:48px;'></i>
                        <p>Login</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Login <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                <!-- ./col -->
                <!-- ./col -->
            </div>
        </div>
      </section>

      <section *ngIf="IsLoggedIn == true" id="about" class="about" style="padding: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/home']">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <i class='fas fa-home' style='font-size:48px;'></i>
                      <p>Home</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a  class="small-box-footer">Home <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/about-us']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-atlas' style='font-size:48px;'></i>
                        <p>About</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">About <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/food-menu']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fa fa-book' style='font-size:48px;'></i>
                        <p>Menu</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Menu <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/special-menu']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-box-open' style='font-size:48px;'></i>
                        <p>Specials</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Specials <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                <!-- ./col -->
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-lg-3 col-6" style="cursor: pointer;" [routerLink]="['/contact-us']">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <i class='fas fa-envelope-open-text' style='font-size:48px;'></i>
                      <p>Contact</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a  class="small-box-footer">Contact <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-3 col-6"  style="cursor: pointer;" [routerLink]="['/reserve-a-table']">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-file-import' style='font-size:48px;'></i>
                        <p>Book a Table</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Book a Table <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" (click)="OpenCheckout()">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-file-invoice' style='font-size:48px;'></i>
                        <p>Checkout</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Checkout<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" (click)="OpenCart()">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-cart-arrow-down' style='font-size:48px;'></i>
                        <p>My Cart</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">My Cart <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                <!-- ./col -->
                <!-- ./col -->
            </div>
            <div class="row">
                  <div [routerLink]="['/my-activity']" class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-book-open' style='font-size:48px;'></i>
                        <p>My Activities</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">My Activities<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6" (click)="SignOut()">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <i class='fas fa-arrow-alt-circle-right' style='font-size:48px;'></i>
                        <p>Logout</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a  class="small-box-footer">Logout<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
            </div>

        </div>
      </section>
  
    </div>
    <!-- /.content-wrapper -->
     