<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2">
	<div class="container hero-section">
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start">
              <h1 data-aos="fade-right">Start Booking Your Flight Now</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Find countless flights options & deals to various destinations around the world!</p>
            </div>
            <div class="col-lg-4 iphone-wrap">
              <img src="assets/moduletemplate/img/phone_1.png" alt="Image" class="phone-1" data-aos="fade-right">
              <img src="assets/moduletemplate/img/phone_2.png" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200">
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Login to <strong>JVD Corp Airline Booking</strong></h3>
            <p class="mb-4">Find countless flights options & deals to various destinations around the world!</p>
            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="alert">
              <strong>Error: </strong> Username of Password is incorrect.
            </div>
            <form action="#" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username" #username>
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" id="password" #password> 
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator" style="background: #0ba8c1!important;"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input type="submit" (click)="Authorize(username.value, password.value)" value="Log In" class="btn btn-block btn-primary" style="background-color: #0ba8c1 !important; border-color: #0ba8c1 !important;">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>