<header id="header" class="fixed-top d-flex align-items-center" style="background: rgba(52,58,64,.8) !important">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1><a href="index.html">JVD Corp Airline Booking</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active " [routerLink]="['/']" href="#">Home</a></li>
        <li><a href="/api/index.html?url=/api/specification.json">API</a></li>
        <li><a href="/login" >Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>
