
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" style="max-width: 90%;">

      <div class="logo me-auto">
        <a href="index.html"><img src="assets/reservation/client/assets/img/thorackerlogo.jpg" alt="" class="img-fluid"></a>
        
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/about-us']" routerLinkActive="active">About</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/food-menu']" routerLinkActive="active">Menu</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/special-menu']" routerLinkActive="active">Specials</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/contact-us']" routerLinkActive="active">Contact</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/my-cart']" routerLinkActive="active" >My Cart</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/checkout']" routerLinkActive="active" >Checkout</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['/reserve-a-table']" routerLinkActive="active">My Reservations</a></li>
          <li><a class="nav-link scrollto" href="#">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="reserve.html" class="book-a-table-btn scrollto">Book a table</a>

    </div>
  </header><!-- End Header -->