<style>
    .menus {
      width: 100%;
      margin-bottom: 0px;
      padding-bottom: 0px;
      border: 0px solid #ffa323;
      padding: 30px 20px;
      border-radius: 0px;
  }
   </style>

   <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Main Menu</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><span class="li-before">Main Menu</span></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page" style="padding: 0px 0;">

      <div class="section-title" style="background: linear-gradient(0deg, rgb(232 206 121 / 82%) 0%, rgb(236 217 151 / 21%) 100%);">
        <div style="padding: 10px;"><h2>My Food <span>items</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p></div>
      </div>

      <div class="container" style="max-width: 90%!important;">
            <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu" style="padding-top: 0px;">
      <div class="container" style="max-width: 100%!important;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle">
                <div class="col-lg-12 menu-item insalate-salate">
                  <div style="padding: 10px 20px;" class="menus d-flex">
                    <div class="menu-img img"></div>
                    <div class="text">
                      <div class="d-flex">
                        <div class="one-half">
                          <h3>Spaghetti alla Carbonara</h3>
                        </div>
                      </div>
                      <p><span>mit gebratenem Speck, Rahm und Parmesan</span></p>
                    </div>
                  </div>
                </div>
              </td>
              <td class="align-middle">$55.00</td>
              <td class="align-middle">
                <div class="quantity">
                    <div class="pro-qty">
                        <input type="text" value="1">
                    </div>
                </div>
              </td>
              <td class="align-middle">$110.00</td>
            </tr>
            <tr>
              <td class="align-middle">
                <div class="col-lg-12 menu-item insalate-salate">
                  <div style="padding: 10px 20px;" class="menus d-flex">
                    <div class="menu-img img"></div>
                      <div class="text">
                        <div class="d-flex">
                          <div class="one-half">
                            <h3>Margherita</h3>
                          </div>
                        </div>
                        <p><span>Tomatensauce, Mozzarella und Oregano</span></p>
                      </div>
                  </div>
                </div>
              </td>
              <td class="align-middle">$55.00</td>
              <td class="align-middle">
                <div class="quantity">
                    <div class="pro-qty">
                        <input type="text" value="1">
                    </div>
                </div>
              </td>
              <td class="align-middle">$110.00</td>
            </tr>
            <tr>
              <td class="align-middle">
                <div class="col-lg-12 menu-item insalate-salate">
                  <div style="padding: 10px 20px;" class="menus d-flex">
                    <div class="menu-img img"></div>
                    <div class="text">
                      <div class="d-flex">
                        <div class="one-half">
                          <h3>Insalata Verde</h3>
                        </div>
                      </div>
                      <p><span>Grüner Salat</span></p>
                    </div>
                  </div>
                </div>
              </td>
              <td class="align-middle">$55.00</td>
              <td class="align-middle">
                <div class="quantity">
                    <div class="pro-qty">
                        <input type="text" value="1">
                    </div>
                </div>
              </td>
              <td class="align-middle">$110.00</td>
            </tr>
          </tbody>
        </table>
        
        <div style="text-align: right;" class="menu-container">
          <a href="#book-a-table" class="book-a-table-btn scrollto" style="background: #ffb03b;"> + Add Another Food</a>
          <a href="#book-a-table" class="book-a-table-btn scrollto" style="background: #ffb03b;">Proceed To Checkout</a>
        </div>

      </div>
    </section><!-- End Menu Section -->
      </div>
    </section>

  </main><!-- End #main -->