<div class="content-wrapper">
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" *ngIf="uniqueKey == null">Register Booking</h1>
            <h1 class="m-0" *ngIf="uniqueKey != null">Booking details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Admin Dashboard</li>
              <li class="breadcrumb-item active">Booking details</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3" *ngIf="uniqueKey != null">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">

                    <div class="row">
                        <div class="col-md-4">
                            <div style="text-align: center!important;">
                                <div class="members-avatar" style="background: {{AvatarColor}}; width: 120px;height: 120px;border-radius: 10%;font-size: 50px;line-height: 120px;">		
                                    {{Avatar}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="profile-username">{{DisplayName}}</h3>
                            <p class="text-muted">{{ContactNumber}}</p>
                        </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
    
                <!-- About Me Box -->
                <div class="card card-primary">
                  <div class="card-header custom-background">
                    <h3 class="card-title">Flight Details</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <strong><i class="fas fa-plane mr-1"></i> Origin</strong>
    
                    <p class="text-muted">N/A</p>
    
                    <hr>
    
                    <strong><i class="fas fa-plane mr-1"></i> Destination</strong>
    
                    <p class="text-muted">N/A</p>
    
                    <hr>

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div [ngClass]="(uniqueKey == null)?'col-md-12':'col-md-9'">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">Booking Summary</a></li>
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="profile">
                        <form class="form-horizontal">
                          <div class="form-group row">
                            <label for="inputFlightId" class="col-sm-2 col-form-label">Flight #:<span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <select  class="form-select" aria-label="Default select example" id="inputFlightId" style="padding: 12px;" #inputFlightId>
                                <option value="0" selected >Select Flight #</option>
                                <option *ngFor="let flight of getAllFlightQueryDto"
                                        [value]="flight.id">
                                        {{flight.flightCode}} ({{flight.airportName}} - {{flight.planeName}})
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputFlightDate" class="col-sm-2 col-form-label">Flight Date <span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" id="inputFlightDate" placeholder="Flight Date" #inputFlightDate>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name <span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" #inputLastName>
                            </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputFirstName" class="col-sm-2 col-form-label">First Name <span style="color: red;">*</span></label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" #inputFirstName>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputMiddleName" placeholder="Middle Name" #inputMiddleName>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputContactNumber" class="col-sm-2 col-form-label">Contact Number</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputContactNumber" placeholder="Contact Number" #inputContactNumber>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputStreet" class="col-sm-2 col-form-label">Street</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputStreet" placeholder="Street" #inputStreet>
                              </div>
                            </div>
                              <div class="form-group row">
                                <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputCity" placeholder="City" #inputCity>
                                </div>
                              </div>
                              <div class="form-group row">
                                  <label for="inputProvince" class="col-sm-2 col-form-label">Province</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputProvince" placeholder="Province" #inputProvince>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputRegion" class="col-sm-2 col-form-label">Region</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputRegion" placeholder="Region" #inputRegion>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputZipCode" class="col-sm-2 col-form-label">Zip Code</label>
                                  <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputZipCode" placeholder="Zip Code" #inputZipCode>
                                  </div>
                                </div>
                            <div class="form-group row">
                              <div class="offset-sm-2 col-sm-10"  *ngIf="uniqueKey == null">
                                <button type="submit" class="btn btn-danger" [routerLink]="['/portal/manage-bookings']" style="margin-right: 10px;">Back</button>
                                <button type="submit" (click)="CreateBooking(inputFlightId.value, inputFlightDate.value, inputLastName.value, inputFirstName.value, inputMiddleName.value, inputContactNumber.value, inputStreet.value, inputCity.value, inputProvince.value, inputRegion.value, inputZipCode.value)" class="btn btn-primary">Save</button>
                              </div>
                              <div class="offset-sm-2 col-sm-10"  *ngIf="uniqueKey != null">
                                <button type="submit" class="btn btn-danger" [routerLink]="['/portal/manage-bookings']" style="margin-right: 10px;">Back</button>
                                <button type="submit" (click)="UpdateBooking(inputFlightId.value, inputFlightDate.value, inputLastName.value, inputFirstName.value, inputMiddleName.value, inputContactNumber.value, inputStreet.value, inputCity.value, inputProvince.value, inputRegion.value, inputZipCode.value)"  class="btn btn-primary">Update / Save</button>
                              </div>
                            </div>
                            <div class="alert alert-danger alert-dismissible collapse" role="alert" id="alert">
                              <strong>Error: <br></strong> <span id="errorMessage"></span>
                            </div>
                          </form>
                      </div>
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
    </section>
  </div>
  