<style>
  .payment-image img{
      padding: 5px;
  }

  .display-message{
display: block!important;
}

</style>

<div class="">
<div class="error-message" style="display:none;
position: fixed;
top: 50%;
width: 100%;
z-index: 99999;
background: #d5182a !important;
color: white !important;
padding: 22px;
text-align: center;"></div> 
</div>

<div class="">
<div class="success-message" style="display:none;
position: fixed;
top: 50%;
width: 100%;
z-index: 99999;
background: #28a745 !important;
color: white !important;
padding: 22px;
text-align: center;"></div> 
</div> 


<button style="width: 100%; margin-bottom: 5px; position: fixed; bottom: -5px; width: 100%; z-index: 99999; background: brown!important; color: white!important;" [routerLink]="['/home/mobile']" type="submit" class="btn bg-gradient-warning btn-flat d-block d-md-none">Go to Dashboard</button>  

<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-8">
              <div class="callout callout-info" *ngIf="b_bookingStatusID == 3">
                <h5>Note:</h5>
                Booking is waiting for Approval
              </div>
              <div class="callout callout-success" *ngIf="b_bookingStatusID == 1">
                  <h5>Note:</h5>
                  Booking has been approved by System Administrator
                </div>
                <div class="callout callout-danger" *ngIf="b_bookingStatusID == 2">
                  <h5>Note:</h5>
                  Booking has been rejected by System Administrator
                </div>
            </div>
            <div *ngIf="b_bookingStatusID == 0" class="col-md-4">
              <div class="callout callout-info">
                <h5>Status: <span style="background-color: yellow; padding: 5px;">Pending</span> </h5>
                <span>Booking as still in pending status.</span>
              </div>
            </div>

            <div *ngIf="b_bookingStatusID == 1" class="col-md-4">
              <div class="callout callout-info">
                <h5>Status: Approved <i class="material-icons" style="color:green">check_circle</i></h5>
                <span>Booking as been approved. Proceed with the payment.</span>
              </div>
            </div>
            
            <div *ngIf="b_bookingStatusID == 2" class="col-md-4">
              <div class="callout callout-info">
                <h5>Status: Rejected <i class="material-icons" style="color:red">check_circle</i></h5>
                <span>No available booking as of now.</span>
              </div>
            </div>

            <div *ngIf="b_bookingStatusID == 3" class="col-md-4">
              <div class="callout callout-info">
                <h5>Status: <span style="background-color: #3c8dbc4a; padding: 5px;">Waiting for Approval</span> </h5>
                <span>Booking as still in pending status.</span>
              </div>
            </div>

          </div>


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row" style="
            background: beige;
            padding: 5px;
        ">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Thoracker
                  <small class="float-right">Date: 2/10/2014</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info" style="background-color: #dee2e642;">
              <div class="col-sm-3 invoice-col">
              <p class="lead">Owner Details</p>
                From
                <address>
                  <strong>Thoracker Restaurant</strong><br>
                  Kranichweg 6, Muri bei Bern 3074 Switzerland<br>
                  Phone: +41 31 951 31 67<br>
                  Email: thorackerrestaurantcgmail.com
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-3 invoice-col">
                  <p class="lead">Guest / Customer</p>
                To
                <address>
                  <strong>{{fullname}}</strong><br>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-3 invoice-col">
               <p class="lead">Payment Details</p>
                <b>Booking Referrence #: </b> {{b_bookingReferrenceNumber}}<br>
                <b>Last Payment Date:</b> N/A<br>
                <b>Payment:</b> <small class="badge badge-warning"><i class="far fa-clock"></i> Pending</small><br>
              </div>
              <div class="col-sm-3 invoice-col">
                  <p class="lead">Payment to be Paid</p>
    
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>{{getTotalAmount}}</td>
                          </tr>
                          <tr>
                            <th>Tax</th>
                            <td>$0.00</td>
                          </tr>
                          <tr style="background: #ff00000d;">
                            <th>Total:</th>
                            <td id="booking_total_amount">{{getTotalAmount}}</td>
                          </tr>
                        </table>
                      </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row d-none d-md-block">
              <div class="col-12 table-responsive">
                  <p class="lead">Booking Details and Order Items:</p>
                  <div class="callout callout-danger">
                      <h5><i class="fas fa-danger"></i> Booking Referrence #: {{b_bookingReferrenceNumber}}</h5>
                      Date Arrival: {{b_bookingFromDate}} <br>
                      Number or Person: {{b_numberOfPax}} <br>
                      Table: {{b_selectedTables}}
                    </div>
                <table *ngIf="hasOrder == true" class="table table-striped">
                  <thead style="
                  background: beige;
              ">
                  <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of cartDto">
                    
                    <td>{{item.foodName}}</td>
                    <td>{{item.foodDescription}}</td>
                    <td>{{item.currentPrice}}</td>
                    <td>{{item.currentQuantity}}</td>
                    <td>{{item.currentTotal}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>

            <div class="row d-block d-md-none">
              <div class="col-12 table-responsive">
                  <p class="lead">Booking Details and Order Items:</p>
                  <div class="callout callout-danger">
                      <h5><i class="fas fa-danger"></i> Booking Referrence #: {{b_bookingReferrenceNumber}}</h5>
                      Date Arrival: {{b_bookingFromDate}} <br>
                      Number or Person: {{b_numberOfPax}} <br>
                      Table:  {{b_selectedTables}}
                    </div>
                <table *ngIf="hasOrder == true" class="table table-striped">
                  <thead style="
                  background: beige;
              ">
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of cartDto">
                    
                    <td>{{item.foodName}}</td>
                    <td>{{item.currentPrice}}</td>
                    <td>{{item.currentQuantity}}</td>
                    <td>{{item.currentTotal}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            
            <!-- /.row -->

            <div class="row payment-image">
              <!-- accepted payments column -->
              <div class="col-6">
                <p class="lead">Payment Methods:</p>
                <img src="assets/reservation/admin/dist/img/credit/visa.png" alt="Visa">
                <img src="assets/reservation/admin/dist/img/credit/mastercard.png" alt="Mastercard">
                <img src="assets/reservation/admin/dist/img/credit/american-express.png" alt="American Express">
                <img src="assets/reservation/admin/dist/img/credit/paypal2.png" alt="Paypal">

                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                  plugg
                  dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
              </div>
              <!-- /.col -->
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print d-none d-md-block">
              <div class="col-12" style="text-align: center;">
                <button (click)="GoToCart()" style="margin-right: 10px;" type="button" class="btn btn-warning"><i class="fas fa-cart-arrow-down"></i> Back to Dashbaord</button>
                <button *ngIf="b_bookingStatusID == 0"  type="button" (click)="SendBookingForApproval()" class="btn btn-success"><i class="far fa-credit-card"></i> Submit Booking (For Approval)</button>
                <button  style="margin-right: 10px;" *ngIf="b_bookingStatusID == 3" (click)="ApproveBooking()"   type="button" class="btn btn-success"><i class="far fa-credit-card"></i> Approve</button>
                <button  *ngIf="b_bookingStatusID == 3"  (click)="RejectBooking()" type="button" class="btn btn-danger"><i class="far fa-credit-card"></i> Reject</button>
                <button disabled *ngIf="b_bookingStatusID == 1"  type="button" class="btn btn-success"><i class="far fa-credit-card"></i> Booking Approved</button>
              </div>
            </div>

            <div class="row no-print d-block d-md-none">
              <div class="col-12" style="text-align: center;">
                <button style="width: 100%; margin-bottom: 5px;" (click)="GoToCart()" type="button" class="btn btn-warning"><i class="fas fa-cart-arrow-down"></i> Back to Dashbaord</button>
                <button *ngIf="b_bookingStatusID == 0"  style="width: 100%; margin-bottom: 5px;" (click)="SendBookingForApproval()" type="button" class="btn btn-success"><i class="far fa-credit-card"></i> Submit Booking (For Approval)</button>
                <button style="margin-right: 10px;" *ngIf="b_bookingStatusID == 3" (click)="ApproveBooking()"  style="width: 100%; margin-bottom: 5px;"  type="button" class="btn btn-success"><i class="far fa-credit-card"></i> Approve</button>
                <button  *ngIf="b_bookingStatusID == 3" (click)="RejectBooking()"  style="width: 100%; margin-bottom: 5px;"  type="button" class="btn btn-danger"><i class="far fa-credit-card"></i> Reject</button>
                <button disabled  *ngIf="b_bookingStatusID == 1"  style="width: 100%; margin-bottom: 5px;"  type="button" class="btn btn-success"><i class="far fa-credit-card"></i> Booking Approved</button>
              </div>
            </div>

          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>