<style>
	.menu-container{
		height: auto!important;
	}

	.btn-warning-custom
	{
		color: #f8f9fa;
		border-radius: 0px;
		background: #ffa323;
	}
</style>
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="curly">Main Menu</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><span class="li-before">Main Menu</span></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container" style="max-width: 90%!important;">
            <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu" style="padding-top: 0px;">
      <div class="container" style="max-width: 90%!important;">

        <div class="section-title">
          <h2 class="curly">Check our tasty <span>Menu</span></h2>
        </div>

        <div class="row" style="padding-bottom: 20px;">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li (click)="GetFilter()" class="filter-active">Show All</li>
              <li (click)="getFoodListById(4)" data-filter=".insalate-salate">INSALATE / SALATE</li>
              <li (click)="getFoodListById(5)" data-filter=".ANTIPASTI-VORSPEISEN">ANTIPASTI / VORSPEISEN</li>
              <li (click)="getFoodListById(6)" data-filter=".RISOTTO">RISOTTO</li>
              <li (click)="getFoodListById(7)" data-filter=".pasta-teigwaren">PASTA / TEIGWAREN</li>
              <li (click)="getFoodListById(8)" data-filter=".pizza">PIZZA I PINSA DEL FORNO A LEGNA / PIZZA UND PINSA AUS DEM HOLZOFEN</li>
              <li (click)="getFoodListById(9)" data-filter=".GRATIN">GRATIN</li>
              <li (click)="getFoodListById(10)" data-filter=".SOMMER">SOMMER</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" >

          <div *ngFor="let item of foodDto" class="col-lg-4 menu-item" >
            <div class="menus d-flex ">
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{item.foodName}}</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">{{item.foodPrice}}</span>
	                </div>
	              </div>
	              <p><span>{{item.foodDescription}}</span></p>
				 
              </div>
			  
            </div>
			<div style="margin-top: -21px; padding-bottom: 20px; text-align: right;"><button (click)="GoBackToCart(item.id)" type="button" class="btn btn-warning btn-warning-custom"> <i class="fa fa-cart-plus"></i> Add to Cart</button></div>
          </div>

        </div>

      </div>
    </section><!-- End Menu Section -->
      </div>
    </section>

  </main><!-- End #main -->